@import '../styles/mixins.scss';

.container{
    max-width: 1260px; 
    margin: auto;
    margin-top: 103px;
    display: block;
    justify-content: space-around;
    margin-bottom: 60px;
}

.title{
    @include h2-title;
    margin-bottom: 23px;
}

.cards{
     
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        

 }


.list{
    display: flex;

}
.product_card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 410px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    justify-content: space-around;
    margin-right: 20px;
    
    &Icon {
        width: 240px;
        height: 220px;
        position: relative;
        border: 1.5px 0px 0px 0px;
        opacity: 100%;
        color: aqua;
        
        

    }
    &Icon2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: relative;
        border: 1.5px 0px 0px 0px;
        opacity: 100%;
        color: aqua;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        &:hover{
            background-color: rgb(237, 237, 237);
        }
    }
    }
.cards{
    display: flex;
}
    .cardItem{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .product_details {
    width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 260px;
      margin: auto;
      .sku {
        font-size: 14px;
        color: gray;
        margin-bottom: 5px;
        font-family: $font-TTCommons;
      }
      
      .title {
        
        font-family: $font-TTCommons;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $font-black-color;
        text-align: left;
        line-height:normal;

      }
      .price_basket{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .price {
        font-size: 30px;
        color: $font-black-color;
        margin-bottom: 10px;
        font-family: $font-TTCommons;
        align-self: center;
      }
      
      .add_to_cart_btn {
        width: 90%;
        padding: 8px;
        background-color: #457b9d;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        
        &:hover {
          background-color: #1d3557;
        }
      }
    }
  
.catrgories{
    background-color: white;
    border: 1px solid #ccc;
    
    border-radius: 12px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;  
    cursor: pointer;
    margin-right: 5px;
    transition: scale 0.3s ease;

      &:hover{
        scale: 102%;
      }
    &Icon {
        width: 32px;
        height: 32px;
        position: relative;
        border: 1.5px 0px 0px 0px;
        opacity: 100%;
        color: aqua;
        margin-right: 10px;
        

    }
    &Text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10px;
        font-family: $font-TTCommons;
        font-size: 20px;
        color:$font-black-color;
       h4{
        font-size: 20px;
        font: weight 600px;;
       } 
       span{
        color:  $font-grey-color;
        font-size: 14px;
       }
     
    }
  }