@import '../styles/variables.scss';
@import '../styles/mixins.scss';
.container{
    max-width: 1260px; 
    margin: auto;
    display: block;
    align-items: center;
    
    margin-top: 30px;
    @media (max-width: 1260px) { 
      max-width: 1080px;
    }
    @media (max-width: 1080px) { 
      max-width: 768px;
    }
    @media (max-width: 768px) { 
      max-width: 540px;
    }
    @media (max-width: 540px) { 
      max-width: 436px;
      
    }
    @media (max-width: 436px) { 
      max-width: 375px;
      
    }

    @media (max-width: 375px) { 
      max-width: 310px;
    }
}

.promotion_slider {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: url(../../../public/assets/promoback.png);
    
  
    .slide {
      align-items: flex-end;
      display: flex;
      width: 100%;
      .content {
        margin-top: 110px;
        flex: 1;
        margin-left: 60px;
        margin-bottom: 88px;
        @media (max-width: 1080px) { 
            
        margin-top: 50px;
        flex: 1;
        margin-left: 30px;
        margin-bottom: 44px;
          
        }
        @media (max-width: 436px) { 
   
         margin-top: 20px;
        flex: 1;
        margin-left: 20px;
        margin-bottom: 20px;
          
        }
        @media (max-width: 375px) { 
          margin-top: 10px;
          flex: 1;
          margin-left: 10px;
          margin-bottom: 20px;
        }

         h1{
          @include h1-title;
          margin-bottom: 30px;
          @media (max-width: 1080px) { 
            max-width: 768px;
            font-size: 32px;
            line-height: 45px;
          }
          @media (max-width: 540px) { 
   
            max-width: 768px;
            font-size:22px;
            line-height: 22px;
            margin-bottom: 20px;
             
           }
          @media (max-width: 436px) { 
   
            max-width: 768px;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 20px;
             
           }
           
        }
         p{
           font-family: $font-stolzl;
           color: $white-color;
           font-size: 18px;
           @media (max-width: 1080px) { 
               font-size: 14px;
            
          }
          @media (max-width: 540px) { 
   
            max-width: 768px;
            font-size: 14px;
            line-height: 16px;
             
           }
          @media (max-width: 436px) { 
   
            max-width: 768px;
            font-size: 12px;
            line-height: 16px;
             
           }
        }
        
      }
      .img {
        
        height: auto;
        width: auto;
        @media (max-width: 1080px) { 
          height: 70%;
          width:50%;
          position: relative;
        }
        
        @media (max-width: 540px) { 
          max-width: 436px;
          height: 60%;
          width:45%;
        }
        @media (max-width: 436px) { 
   
          height: 50%;
          width:45%;
          position: relative;
           
         }

      }
    }
  
    .slide_btn {
    
      margin-left: 20px; 
      margin-right: 20px; 
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.2);
      color: white;
      padding: 8px 12px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      
  
      &:hover {
        background-color: #b0b0b0;
      }
      span{
        color: black;
      }
    }
  
    .prev_btn {
      margin-right: 10px;
    }
  
    .next_btn {
      margin-left: 10px;
    }
  }
  


  
//   &Circle{
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     background-color: $orange-color;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #fff;
//     font-size: 12px;
//   }
//   &Quantity{
//     z-index: 1;
//   }


.carousel{
  margin-bottom: 60px;

  .title{
  @include h2-title;
  margin-bottom: 23px;
}
.cards{
   
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      

}

}