@import '../../Components/styles/variables.scss';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: $grey-color2;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input{
  margin: 0px 0px 0px 0px;
}