// Fonts
$font-stolzl: 'stolzl';
// var(--font-stolzl);
$font-TTCommons: 'TT Commons';
// var(--font-TTCommons);

// Colors
$font-black-color: #1B1D1F;
$font-grey-color:#7A7680;
$grey-color: rgba(222, 222, 226, 1);
$grey-color2: #f5f5f5;
$white-color: #FFFFFF;
$orange-color: rgba(251, 96, 25, 1);
$desc-color: #848A9A;
$hover-color: #E52D2D;
$active-color: #BF221E;
$focus-color: #8FC9FF;
$btn-color: #FF3C3C;
$footer-color:#2f2b4a;
$border-color: #DCDFE2;
$btn-color: #5946d7;
$btn-color2:#6b59cc;
// $cart-btn2-color: #C5CBD5;
// $cart-btn3-color: #EEF0F3;
$cart-lable-color: #A6A6A6;
$input-border-color: #C4C7CA;
$input-focus-color: #3F8FE5;
$input-error-color: #FB7A7A;
$card-icon-color: #C5CBD1;
$card-size-btn-color: #82909F;
$card-size-color: #EFF0F1;
$delivery-color: #F8F6F3;
$slider-btn-color: #BAC4D6;
$menu-color: #313945;
$menu-border-color: #1d2228;
$menu-text-color: #A8B0BC;


$box-shadow: 0 0px 10px 0 rgb(165 169 176 / 30%);
$box-shadow-hover: 0 2px 20px 0 rgb(165 169 176 / 100%);
$delivery-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);

$border:1px solid #ccc;

$transition: 0.2s ease-in-out;