@import '../styles/variables.scss';


.header {
    position:fixed;
    z-index: 11;
    max-height: 70px;
    width: 100%;
    // margin-bottom: 46px;
    background-color:#ffffff;
    padding-top:13px;
    padding-bottom: 13px;
}

.wrapper {
    max-width: 1260px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    @media (max-width: 1260px) { 
        max-width: 1080px;
      } 
      @media (max-width: 1080px) { 
        max-width: 768px;
      } 
      @media (max-width: 768px) { 
        max-width: 540px;
        margin: auto;
      } 
      @media (max-width: 540px) { 
        max-width: 436px;
        margin: auto;
      } 
      @media (max-width: 436px) { 
        display: flex;
        justify-content:space-between;
        max-width: 375px;
        margin: auto;
      }
    
      @media (max-width: 375px) { 
        max-width: 310px;
        margin: auto;
      }
}
.da{
    display: flex;
    align-items: center;
    @media (max-width: 1260px) { 
      
           
         
       }
       
    @media (max-width: 436px) { 
        
      }
      
}
.logo{
    position: relative;
    width: 205.37px;
    height: 41px;
    padding: 0;
    margin-right: 20px;
    padding: 0;
    @media (max-width: 768px) { 
      margin-right: 10px;
     
      width: 180px;
    }
    @media (max-width: 540px) { 
      width: 140px;
    }

    @media (max-width: 436px) { 
        width: 170px;
      }
      @media (max-width: 375px) { 
        margin-right: 0px;
        margin-left: 0px;
        width: 165px;
      }
}
.inputContainer {
    position: relative;
    display: flex;
    margin-right: 20px;

}
.inputField {
    width: 430px;
    height: 30px;
    background-color: $grey-color2;
    border: 1px solid #FFFFFF;
    color: #000000; 
    border-radius: 10px;
    padding: 10px;
    @media (max-width: 1260px) { 
        width: 400px;
        height: 27px;
        @media (max-width: 1080px) { 
            width: 340px;
          }
          @media (max-width: 768px) { 
            width: 190px;
          }
          @media (max-width: 540px) { 
            width: 140px;
          }
          @media (max-width: 436px) { 
            display: none;
          }
    }
    &::placeholder {
      color: rgba(85, 85, 109, 1);
      @media (max-width: 768px) { 
        font-size: 12px;
      }
    }
  }
  
.nav{
    display: flex;
}
.basket11{
    margin-right: 5px;
    @media (min-width: 436px) { 
        
        display:none;
    }
}
.geo{
    display: flex;
    align-items: center;
    margin-right: 40px;
    max-width: 146px;
    @media (max-width: 768px) { 
      margin-right: 20px;;
    }
    @media (max-width: 540px) { 
      margin-right: 10px;;
    }
    @media (max-width: 436px) { 
        margin-right: 5px;;
      }
    &Logo{
        position: relative;
        display: block;
        @media (max-width: 436px) { 
            
          }
    }

    &Text{
    color: $font-black-color;
    font-family: $font-TTCommons;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 1260px) { 
        font-size: 14px;
    }
    @media (max-width: 1080px) { 
        display: none;
      }

    }

    
}
.phone{
    display: flex;
    margin-right: 40px;
    align-items: center;
    @media (max-width: 436px) { 
      display: none;
     
    }
    @media (max-width: 768px) { 
      margin-right: 20px;;
    }
    @media (max-width: 540px) { 
      margin-right: 10px;;
    }

   &Logo{
    position: relative;
    display: block;
   
    }

    &Text{
    font-family: $font-TTCommons;
    font-size: 16px;
    color: $font-black-color;
    font-weight: 600;
    @media (max-width: 1080px) { 
      display: none;
     
    }
}
    @media (max-width: 1260px) { 
        font-size: 12px;
        
    }
    }



.user{
    display: flex;
    align-items: center;
    text-decoration: none;
        color: black;
    
    &Logo{
        position: relative;
       
        margin-right: 5px;
        @media (max-width: 436px) { 
            margin-right: 0px;;
          }
    }

    &Text{
    text-decoration: none;  
    font-family: $font-TTCommons;
    font-size: 16px;
    color: $font-black-color;
    @media (max-width: 1260px) { 
        font-size: 14px;
        @media (max-width: 1080px) { 
            display: none;
          }
        
    }
    :hover{
        border-bottom: 1px solid $btn-color2;
    }
     a{
        text-decoration: none;  
    font-family: $font-TTCommons;
    font-size: 16px;
    color: $font-black-color;
    @media (max-width: 1260px) { 
        font-size: 14px;
    }
    :hover{
        border-bottom: 1px solid blue;
    }
     }
    }

}
.mobbtn{
    position: relative;
    left: 0;
    top: 0;
    z-index: 22323;
    // padding: 15px 8px;
    @media (min-width: 436px) { 
        display: none;
    }
    
}

.drawer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
   
    background-color: #FFFFFF;
    z-index: 22;
    transition: left 0.2s ;
    @media (min-width: 436px) { 
        display: none;
    }
    &Block1{
        position: relative;
        display: flex;  
        justify-content: space-between;
        .userText1{
            text-decoration: none;  
            font-family: $font-TTCommons;
            font-size: 22px;
            color: $font-black-color;
            display: flex;
            align-items: flex-end;
            
            a{
               
            
            text-decoration: none;  
            font-family: $font-TTCommons;
            font-size:22px;
            color: $font-black-color;
            }
        }
    }
    &Block2{
        border-bottom: solid 2px $grey-color2;
        border-top: solid 2px $grey-color2;
        .basket{
            background-color: $grey-color2;
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;  
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 8px;
            
            &Icon {
                @media (max-width: 436px) { 
                    
                    position: relative;
                border: 1.5px 0px 0px 0px;
                opacity: 100%;
                color: aqua;
                margin-right: 10px;
                  }
                
                
        
            }
            &Text{
                margin-right: 10px;
                text-decoration: none;  
                font-family: $font-TTCommons;
                font-size: 16px;
                color: $font-black-color;
                @media (max-width: 1260px) { 
                  font-size: 22px;
                 
                }
            }
        
            &Circle{
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: $orange-color;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-family: $font-TTCommons;
              font-size: 12px;
            }
            &Quantity{
              z-index: 1;
            }
          }
        .phone{
            display: flex;
            align-items: center;
            width: auto;
            @media (max-width: 436px) { 
              display: flex;
             
          }
          &Logo{
            width: auto;
          }
        }
        .geoText, .phoneText{
            @media (max-width: 436px) { 
                display: flex;
                font-size: 22px;
            }
            
        }
    }
    .button_list {
         padding: 20px;
          display: flex;
          flex-direction: column;
          margin: 0; // Удаление стандартных отступов у списка
          list-style: none; // Удаление стилей списка
          align-items: flex-start;
          
          button {
            
            color: $font-black-color;
            font-size: 22px;
            background-color: white; // Белый цвет фона
            padding: 10px 0px;
            border: none; // Без рамки
            margin-bottom: 5px; // Отступ между кнопками
            cursor: pointer;
            
            transition: background-color 0.3s; // Плавное изменение фона при наведении
            font-family: $font-TTCommons;
            
      
            &:last-child {
              margin-bottom: 0; // Удаление отступа у последней кнопки
            }
        
            &:hover {
              background-color: $grey-color; // Серый цвет фона при наведении
            }
          }
        }
}
.active{
    
    left: 0;
   
   
}